<div>
  <div class="listitem">
    <div class="image">
      <img src="{{ products[0].imageUrl }}" class="sizedimage" />
    </div>
    <div class="label">
      {{ products[0].productName }}
    </div>
  </div>
  <div class="listitem">
    <div class="image">
      <img src="{{ products[1].imageUrl }}" class="sizedimage" />
    </div>
    <div class="label">
      {{ products[1].productName }}
    </div>
  </div>
  <div class="listitem">
    <div class="image">
      <img src="{{ products[2].imageUrl }}" class="sizedimage" />
    </div>
    <div class="label">
      {{ products[2].productName }}
    </div>
  </div>
</div>
