<div>
  <div class="listitem">
    <div class="image">
      <img src="./assets/apple.png" class="sizedimage" />
    </div>
    <div class="label">
      {{ products[0] }}
    </div>
  </div>
  <div class="listitem">
    <div class="image">
      <img src="./assets/orange.jpeg" class="sizedimage" />
    </div>
    <div class="label">
      {{ products[1] }}
    </div>
  </div>
  <div class="listitem">
    <div class="image">
      <img src="./assets/ducks.jpeg" class="sizedimage" />
    </div>
    <div class="label">
      {{ products[2] }}
    </div>
  </div>
</div>
