<div class="listitem">
  <span
    class="stock"
    [ngStyle]="{ backgroundColor: (detail.inStock ? '#2ecc71' : '#c0392b') }"
  >
  </span>
  <div class="product-name" *ngIf="editing">
    <input
      type="text"
      [value]="detail.name"
      (input)="onNameChange(name.value)"
      #name
    />
  </div>
  <div class="product-name" *ngIf="!editing">
    {{ detail.name }}
  </div>
  <button (click)="toggleEdit()">
    {{ editing ? 'Done' : 'Edit' }}
  </button>
  <button (click)="onRemove()">
    Remove
  </button>
  <button (click)="goToProduct()">
    View
  </button>
</div>
