.listitem {
  border: 1px solid grey;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  background-color: #f6f8fa;
  list-style-position: inside;
  margin-left: 37.5%;
  margin-bottom: 15px;
  border-radius: 50px;
  width: 40%;
}

.listitem:hover {
  background-color: #badbfc;
}

.image {
  width: 30px;
  margin-left: 10px;
  margin-bottom: 7px;
}

.sizedimage {
  height: 20px;
  border-radius: 50px;
}

.totals {
  padding-bottom: 30px;
}

.total-label {
  margin-left: 10px;
  margin-top: 0px;
}

.label {
  margin-left: 20px;
  margin-top: 12px;
}
