<div>
  <div class="listitem">
    <button
       (click)="handleClick($event)"
    >Click me
    </button>
    <div class="label">
      {{ products[0].productName }}
      {{ products[0].quantity }}
      {{ isEnough(products[0].quantity) }}
    </div>
    <input
      type="text"
      [ngModel]="products[0].quantity"
      (ngModelChange)="handleChange($event)"
    />
    <input
      type="text"
      [(ngModel)]="products[0].quantity"
    />
  </div>
  <div class="listitem">
    <div class="totals">
      <p class="total-label">Total items:</p>
    </div>
    <div class="label">
      {{ products[0].quantity + products[1].quantity + products[2].quantity }}
    </div>
  </div>
</div>
